.progressIcon {
  width: 50px;
  margin-top: 8px;
  animation: heartbeat 2s ease-in-out infinite;
  transform-origin: center center; 
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
