# helm template ./helm -f helm/values.yaml > helm/rendered/core.yaml
namespaceOverride:
fullnameOverride: keycloak-iam

image:
  repository: poziomk3/keycloak-iam
  tag: v2.0.0
  pullPolicy: IfNotPresent

replicas: 1

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

probes:
  port: 9000
  readiness:
    path: /health/ready
    initialDelaySeconds: 60
    periodSeconds: 10
  liveness:
    path: /health/live
    initialDelaySeconds: 60
    periodSeconds: 10

resources:
  requests:
    cpu: 150m
    memory: 600Mi
  limits:
    cpu: 500m
    memory: 2Gi

env:
  KC_HTTP_RELATIVE_PATH: /keycloak
  KC_HTTP_ENABLED: true
  JAVA_OPTS_APPEND: -XX:InitialRAMPercentage=40 -XX:MaxRAMPercentage=75
  KC_PROXY_HEADERS: xforwarded
  KC_HOSTNAME_STRICT: false
  KC_HOSTNAME_BACKCHANNEL_DYNAMIC: false
  KC_PROXY: edge
  
secretEnv:
  KC_BOOTSTRAP_ADMIN_USERNAME: KC_BOOTSTRAP_ADMIN_USERNAME
  KC_BOOTSTRAP_ADMIN_PASSWORD: KC_BOOTSTRAP_ADMIN_PASSWORD
  KC_DB_USERNAME: KC_DB_USERNAME
  KC_DB_PASSWORD: KC_DB_PASSWORD
secret:
  name: 

realm:
  enabled: true
  importOnStartup: true     
  importOverride: true
  useExistingConfigMap: false
  json: |
    {
      "realm": "myrealm",
      "enabled": true,
      "users": [],
      "clients": []
    }
